@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Montserrat;
	src: url('./font/Montserrat-Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

:root {
	--background: linear-gradient(-145deg, #2b0847, rgb(155, 54, 54));
	--header: linear-gradient(45deg, #240041, rgb(155, 54, 54));
	--btn: rgb(74, 43, 184);
	--container: #18184487;
	--second-btn: #2c1ec7;
	--white: #fff;
	--grey: #a6a6a6;
	--dark: #401158;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	/* border: 1px solid red; */
}

ul,
ol {
	list-style-position: inside;
	padding-left: 10px;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
video {
	max-width: 100%;
	height: auto;
	display: block;
}

button {
	all: unset;
	cursor: pointer;
	box-sizing: border-box;
}

input,
textarea,
button,
select {
	font: inherit;
	border: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	color: var(--white);
}

body {
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	line-height: 1.5;
	background: var(--background);
	color: var(--grey);
	box-sizing: border-box;
}

main {
	width: 90%;
	gap: 30px;
	margin: 30px auto;
}

.title {
	font-size: 1.5rem;
	font-weight: 700;
	color: var(--white);
	margin: 10px auto;
}

.txt {
	font-size: 1rem;
	font-weight: 500;
	color: var(--white);
	margin-bottom: 20px;
}
/* normilize end */

header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 90%;
	margin: 0 auto;
	padding: 16px 22px;
	background: var(--header);
	border: 1px solid rgba(255, 255, 255, 0.3);
	border-radius: 12px;
	position: sticky;
	top: 0;
	z-index: 100;
}

.h-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 30%;
}

.inherit-btn {
	padding: 8px 12px;
	border: 2px solid var(--second-btn);
	border-radius: 12px;
	font-size: 1rem;
	color: var(--white);
	font-weight: 700;
	transition: transform 0.5s ease;
}

.inherit-btn:hover {
	background-color: var(--second-btn);
	transform: scale(1.2);
}

.red-btn {
	background-color: var(--second-btn);
	padding: 8px 12px;
	border: 2px solid var(--second-btn);
	border-radius: 12px;
	font-size: 1rem;
	color: var(--white);
	font-weight: 700;
	transition: transform 0.5s ease;
}

.red-btn:hover {
	background-color: inherit;
	transform: scale(1.2);
	box-shadow: 0 5px 5px var(--dark);
}

.main-banner,
.small-banner {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	gap: 20px;
	margin: 30px auto;
}

.banner-container {
	background-image: url(./img/popup-girl.webp);
	background-repeat: no-repeat;
	background-position: 65%;
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-evenly;
	padding: 40px;
	border-radius: 20px;
	width: 50%;
	height: 400px;
	gap: 20px;
}

.banner-container p {
	width: 70%;
}

.title-box {
	padding: 15px;
	background: rgba(216, 15, 15, 0.418);
	border-radius: 10px;
	backdrop-filter: blur(5px);
}

.info-box {
	margin: 20px auto;
	width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info-box img {
	width: 60%;
	height: auto;
	border-radius: 20px;
}

.info-txt {
	font-size: 1rem;
	font-weight: 400;
	color: var(--white);
	margin: 8px auto;
}

.btn-dep {
	padding: 4px 14px;
	border-radius: 10px;
	font-size: 1rem;
	background-color: var(--btn);
	color: var(--white);
	font-weight: 800;
	border: 3px solid var(--btn);
	box-shadow:
		1px 1px 2px var(--btn),
		0 0 1em var(--btn),
		0 0 0.2em #fff;
	transition: transform 0.5s ease;
}

.btn-dep:hover {
	transform: scale(1.2);
}

.btn-dep:active {
	background-color: var(--btn);
	box-shadow: 0 5px var(--header);
	transform: translateY(4px);
}

.banner-container,
.banner-bonus-gift,
.banner-bonus-cash {
	border: 1px solid rgba(219, 212, 212, 0.3);
	box-shadow: 0 0 10px var(--btn);
	transition: all 0.5s ease;
}

.banner-container:hover,
.banner-bonus-gift:hover,
.banner-bonus-cash:hover {
	box-shadow: 0 0 3px var(--btn);
	transform: translateY(3px);
}

.banner-bonus-gift {
	background-image: url(img/gift.webp);
	padding: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 16px;
	width: 25%;
}

.banner-bonus-cash {
	background-image: url(img/cashback.webp);
	padding: 20px;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 16px;
	width: 25%;
}

.sb-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px;
	width: 100%;
	margin: 0 auto;
	background: var(--dark);
	backdrop-filter: blur(6px);
	border-radius: 16px;
	transition: all 0.6s ease-out;
}

.sb-container:hover {
	background: var(--header);
	box-shadow: inset 6px 6px 7px rgba(0, 0, 0, 0.5);
}

.sb-container:hover img {
	transform: rotate(30deg);
	transition: all 0.5s ease;
}

.sb-container .title {
	text-align: left;
	margin: 0;
}

.main-container {
	background-color: var(--container);
	padding: 20px 40px;
	border-radius: 16px;
	box-shadow:
		-7px 15px 7px var(--container),
		-5px 8px 7px rgb(202, 35, 35);
}

.popular-games {
	display: flex;
	align-items: stretch;
	justify-content: center;
	gap: 20px;
}
.game img {
	width: 80%;
}

.table-wrapper {
	overflow-x: auto;
	margin-top: 1.5rem;
	border-radius: var(--border-radius);
	width: 100%;
}

.table-wrapper table {
	width: 100%;
	border-collapse: collapse;
	color: var(--white);
	font-size: 1rem;
	min-width: 320px;
	border-radius: 12px;
}

td,
th {
	border: 1px solid var(--grey);
	padding: 8px;
}

th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: var(--btn);
	color: var(--white);
}

footer {
	padding: 30px;
}

footer ul {
	list-style: none;
}

footer ul li {
	margin: 10px 0;
}

.f-logo {
	display: flex;
	align-items: flex-start;
	align-items: end;
	gap: 10px;
}
hr {
	width: 100%;
	height: 2px;
	border: none;
	background: linear-gradient(90deg, var(--white) 0%, var(--background) 97%);
}

.f-info {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	gap: 30px;
	padding: 20px;
}

.f-txt {
	color: var(--white);
	font-size: 0.8rem;
	font-weight: 600;
}

.ios {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border: 1px solid var(--white);
	border-radius: 10px;
	margin: 10px 0;
}

.txt-f {
	color: var(--white);
	margin: 20px auto;
	text-align: center;
}

@media (max-width: 768px) {
	header {
		gap: 10px;
		width: 100%;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
	}

	main {
		width: 96%;
		margin: 0 auto;
	}

	.h-btn {
		width: 100%;
		margin: 4px auto;
		justify-content: space-evenly;
	}

	.inherit-btn,
	.red-btn {
		padding: 4px 8px;
	}

	.main-banner,
	.small-banner {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		justify-content: space-between;
		gap: 20px;
		margin: 30px auto;
	}

	.banner-container {
		width: 100%;
		padding: 20px 10px;
		gap: 10px;
	}

	.banner-bonus-gift {
		width: 100%;
	}

	.banner-bonus-cash {
		width: 100%;
	}

	.txt {
		font-size: 0.8rem;
		margin-bottom: 8px;
	}

	.main-container {
		width: 96%;
		padding: 10px 8px;
		gap: 10px;
		margin: 0 auto;
	}

	table {
		font-size: 0.8rem;
	}

	footer {
		padding: 10px;
	}

	.f-info {
		flex-wrap: wrap;
		width: 100%;
	}

	footer div {
		width: 100%;
	}

	footer img {
		width: 30px;
		height: auto;
	}
}
